.themeSwitch {
  position: fixed;
  bottom: 5px;
  right: 5px;
  border: none;
  border-radius: 50%;
  opacity: 0.5;
  outline: none;
  width: 40px;
  height: 40px;
  z-index: 1000;
}

.light {
  background: #ffb95d;
}